<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAssessmentStatsLabel" jhiTranslate="amoghServerApp.assessmentStats.home.createOrEditLabel">Create or edit a Assessment Stats</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!assessmentStats.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="assessmentStats.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.assessmentStats.score" for="field_score">Score</label>
            <input type="number" class="form-control" name="score" id="field_score"
                [(ngModel)]="assessmentStats.score" required min="0" max="100"/>
            <div [hidden]="!(editForm.controls.score?.dirty && editForm.controls.score?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.score?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.score?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.score?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                    This field cannot be more than 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.score?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.assessmentStats.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="assessmentStats.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.assessmentStats.assessment" for="field_assessment">Assessment</label>
            <select class="form-control" id="field_assessment" name="assessment" [(ngModel)]="assessmentStats.assessmentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="assessmentOption.id" *ngFor="let assessmentOption of assessments; trackBy: trackAssessmentById">{{assessmentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
