
<div *ngIf="template">
    <h2><span jhiTranslate="amoghServerApp.template.detail.title">Template</span> {{template.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="amoghServerApp.template.contentType">Content Type</span></dt>
        <dd>
            <span jhiTranslate="{{'amoghServerApp.ContentType.' + template.contentType}}">{{template.contentType}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.template.contentPrefix">Content Prefix</span></dt>
        <dd>
            <span>{{template.contentPrefix}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.template.contentStyle">Content Style</span></dt>
        <dd>
            <span jhiTranslate="{{'amoghServerApp.ContentStyle.' + template.contentStyle}}">{{template.contentStyle}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.template.name">Name</span></dt>
        <dd>
            <span>{{template.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'template/'+ template.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
