<div>
    <h2>
        <span jhiTranslate="amoghServerApp.exercise.home.title">Exercises</span>
        <button class="btn btn-primary float-right jh-create-entity create-exercise" [routerLink]="['/', { outlets: { popup: ['exercise-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="amoghServerApp.exercise.home.createLabel">
            Create new Exercise
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="exercises">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contentType"><span jhiTranslate="amoghServerApp.exercise.contentType">Content Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="amoghServerApp.exercise.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topicName"><span jhiTranslate="amoghServerApp.exercise.topic">Topic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="templateId"><span jhiTranslate="amoghServerApp.exercise.template">Template</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercise of exercises ;trackBy: trackId">
                <td><a [routerLink]="['../exercise', exercise.id ]">{{exercise.id}}</a></td>
                <td jhiTranslate="{{'amoghServerApp.ContentType.' + exercise.contentType}}">{{exercise.contentType}}</td>
                <td>{{exercise.content}}</td>
                <td>
                    <div *ngIf="exercise.topicId">
                        <a [routerLink]="['../topic', exercise.topicId  ]" >{{exercise.topicName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="exercise.templateId">
                        <a [routerLink]="['../template', exercise.templateId  ]" >{{exercise.templateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../exercise', exercise.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exercise/'+ exercise.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exercise/'+ exercise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="exercises && exercises.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
