<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExerciseLabel" jhiTranslate="amoghServerApp.exercise.home.createOrEditLabel">Create or edit a Exercise</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!exercise.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="exercise.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.exercise.contentType" for="field_contentType">Content Type</label>
            <select class="form-control" name="contentType" [(ngModel)]="exercise.contentType" id="field_contentType"  required>
                <option value="ALPHABET">{{'amoghServerApp.ContentType.ALPHABET' | translate}}</option>
                <option value="NUMBER">{{'amoghServerApp.ContentType.NUMBER' | translate}}</option>
                <option value="CURRENCY">{{'amoghServerApp.ContentType.CURRENCY' | translate}}</option>
                <option value="WORD">{{'amoghServerApp.ContentType.WORD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.contentType?.dirty && editForm.controls.contentType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contentType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.exercise.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="exercise.content" required/>
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.exercise.topic" for="field_topic">Topic</label>
            <select class="form-control" id="field_topic" name="topic" [(ngModel)]="exercise.topicId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="topicOption.id" *ngFor="let topicOption of topics; trackBy: trackTopicById">{{topicOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amoghServerApp.exercise.template" for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" [(ngModel)]="exercise.templateId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="templateOption.id" *ngFor="let templateOption of templates; trackBy: trackTemplateById">{{templateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
