
<div *ngIf="aadharEnrollForm">
    <h2><span jhiTranslate="amoghServerApp.aadharEnrollForm.detail.title">Aadhar Enroll Form</span> {{aadharEnrollForm.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.preEnrollmentID">Pre Enrollment ID</span></dt>
        <dd>
            <span>{{aadharEnrollForm.preEnrollmentID}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.tinNumber">Tin Number</span></dt>
        <dd>
            <span>{{aadharEnrollForm.tinNumber}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.fullName">Full Name</span></dt>
        <dd>
            <span>{{aadharEnrollForm.fullName}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.gender">Gender</span></dt>
        <dd>
            <span>{{aadharEnrollForm.gender}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.age">Age</span></dt>
        <dd>
            <span>{{aadharEnrollForm.age}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.dob">Dob</span></dt>
        <dd>
            <span>{{aadharEnrollForm.dob}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.declared">Declared</span></dt>
        <dd>
            <span>{{aadharEnrollForm.declared}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.verified">Verified</span></dt>
        <dd>
            <span>{{aadharEnrollForm.verified}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.careOf">Care Of</span></dt>
        <dd>
            <span>{{aadharEnrollForm.careOf}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.careOfName">Care Of Name</span></dt>
        <dd>
            <span>{{aadharEnrollForm.careOfName}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.houseNumber">House Number</span></dt>
        <dd>
            <span>{{aadharEnrollForm.houseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.street">Street</span></dt>
        <dd>
            <span>{{aadharEnrollForm.street}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.landmark">Landmark</span></dt>
        <dd>
            <span>{{aadharEnrollForm.landmark}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.area">Area</span></dt>
        <dd>
            <span>{{aadharEnrollForm.area}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.village">Village</span></dt>
        <dd>
            <span>{{aadharEnrollForm.village}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.postOffice">Post Office</span></dt>
        <dd>
            <span>{{aadharEnrollForm.postOffice}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.district">District</span></dt>
        <dd>
            <span>{{aadharEnrollForm.district}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.subDistrict">Sub District</span></dt>
        <dd>
            <span>{{aadharEnrollForm.subDistrict}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.state">State</span></dt>
        <dd>
            <span>{{aadharEnrollForm.state}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.email">Email</span></dt>
        <dd>
            <span>{{aadharEnrollForm.email}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.modileNumber">Modile Number</span></dt>
        <dd>
            <span>{{aadharEnrollForm.modileNumber}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.pinCode">Pin Code</span></dt>
        <dd>
            <span>{{aadharEnrollForm.pinCode}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.detailsOf">Details Of</span></dt>
        <dd>
            <span>{{aadharEnrollForm.detailsOf}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.detailsOfName">Details Of Name</span></dt>
        <dd>
            <span>{{aadharEnrollForm.detailsOfName}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.aadharNumber">Aadhar Number</span></dt>
        <dd>
            <span>{{aadharEnrollForm.aadharNumber}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.verficationType">Verfication Type</span></dt>
        <dd>
            <span>{{aadharEnrollForm.verficationType}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.forDocumentBased">For Document Based</span></dt>
        <dd>
            <span>{{aadharEnrollForm.forDocumentBased}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.forIntroducerBased">For Introducer Based</span></dt>
        <dd>
            <span>{{aadharEnrollForm.forIntroducerBased}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.forHoFBased">For Ho F Based</span></dt>
        <dd>
            <span>{{aadharEnrollForm.forHoFBased}}</span>
        </dd>
        <dt><span jhiTranslate="amoghServerApp.aadharEnrollForm.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{aadharEnrollForm.imageUrl}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aadhar-enroll-form/'+ aadharEnrollForm.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
